# Build Output
public/*

# node
.nodemonignore
npm-debug.log
node_modules

# bower directory
bower_components

# various ide's
.idea
*.sublime-*
*.suo
*.user
*.csproj
*.sln
*.GhostDoc.xml
.settings
bin
obj
